<!-- Loop over each object in the projects array -->
<div class='section' id='home-grid'>
    {{#each exercises as |exercise|}}
      <div class='tile is-ancestor is-4 is-align-items-flex-start' id='post-container'>
        <div class='tile is-vertical box my-3 exercise-card'>
          <div class='tile is-child' id='card-text'>
            <a
              href='/exercise/{{exercise.id}}/user/{{exercise.user_id}}'
            ><strong>{{exercise.name}}</strong></a>
            <p>Created by
              <strong>{{exercise.user.name}}</strong>
              on
              {{format_date exercise.date_created}}</p>
            <p>Distance: {{exercise.distance}} miles</p>
            <p>Time: {{exercise.time}} hours</p>
          </div>
          <div class='tile is-child'>
            <p class>
              {{exercise.description}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}
</div>