<!-- Loop over each object in the projects array -->
<div class='section'>
  <div class='column'>
    {{#each exercises as |exercise|}}
      <div class='tile is-ancestor'>
        <div class='tile is-vertical is-4 box has-background-primary my-3'>
          <div class='tile is-child'>
            <a
              href='/exercise/{{exercise.id}}/user/{{exercise.user_id}}'
              class='has-text-white'
            ><strong>{{exercise.name}}</strong></a>
            <p class='has-text-white'>Created by
              <strong class='has-text-white'>{{exercise.user.name}}</strong>
              on
              {{format_date exercise.date_created}}</p>
            <p class='has-text-white'>Distance: {{exercise.distance}} miles</p>
            <p class='has-text-white'>Time: {{exercise.time}} hours</p>
          </div>
          <div class='tile is-child'>
            <p class='has-text-white'>
              {{exercise.description}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class='column'></div>
  <div class='column'></div>
</div>