<!-- Loop over each object in the projects array -->
{{#each exercises as |exercise|}}
<div class="columns">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/exercise/{{exercise.id}}">{{exercise.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{exercise.user.name}} on {{format_date exercise.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{exercise.description}}
    </p>
  </div>
</div>
{{/each}}
