<!-- Loop over each object in the projects array -->
{{#each exercises as |exercise|}}
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical box">
    <div class = "tile is-child">
      <a href="/exercise/{{exercise.id}}">{{exercise.title}}</a>
      <p>Created by {{exercise.user.name}} on {{format_date exercise.date_created}}</p>
      <p>Distance: {{exercise.distance}} miles</p>
      <p>Time: {{exercise.time}} hours</p>
    </div>
    <div class = "tile is-child">
      <p>
        {{exercise.description}}
      </p>
    </div> 
  </div>
</div>
{{/each}}
